@model IEnumerable<AngularJS_NetPonto.Models.Process>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div ng-app="netpontoApp" ng-controller="ProcessCtrl" >
    <input type="text" ng-model="search.$" />
    <input type="text" ng-model="search.name" />
    <input type="text" ng-model="search.description" />
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.acronym)
            </th>
            <th></th>
        </tr>

        <tr ng-repeat="process in processes | filter: search | orderBy:'name'">
            <td>
                {{process.name}}
            </td>
            <td>
                {{process.description}}
            </td>
            <td>
                {{process.acronym}}
            </td>
            <td>
                <a href="/Processes/Edit/{{process.Id}}" >Editar</a>
            </td>
        </tr>

    </table>
</div>
<script type="text/javascript">
    angular.module('netpontoApp', ['ngResource']);

    function ProcessCtrl($scope, $resource) {
        $scope.processes =
            $resource("/Processes/GetProcesses", [],
            { query: { method: 'GET', isArray: true } }).query();
    }

</script>