<form name="form" novalidate class="css-form">
<div>
    Sigla:
    <input type="text" name="process.acronym" ng-model="process.acronym" ng-minlength="2" ng-maxlength="3" required />
</div>
<div>
    Nome:
    <input type="text" name="process.name" ng-model="process.name" ng-minlength="4" ng-maxlength="100" required />
</div>
<div>
    Descrição:
    <textarea type="text" name="process.description" ng-model="process.description">
    </textarea>
</div>
<div>
    <button type="reset">Limpar</button>
    <button ng-click="save()" ng-disabled="form.$invalid">Adicionar</button>
</div>
</form>
 <style type="text/css">
      .css-form input.ng-invalid.ng-dirty {
        background-color: #FA787E;
      }
    
      .css-form input.ng-valid.ng-dirty {
        background-color: #78FA89;
      }
    </style>