<!DOCTYPE html>
<html lang="en" ng-app="netpontoApp">
    <head>
        <meta charset="utf-8" />
        <title>AngularJS SPA - NetPonto</title>
        <meta name="viewport" content="width=device-width" />

        <script async="" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

        @Styles.Render("~/Content/css", "~/Content/themes/base/css")
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="#">AngularJS - NetPonto</a>
              <div class="nav-collapse">
                <ul class="nav">
                  <li class="active"><a href="#">Home</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>

        <div class="container" ng-view>
          @RenderBody()
                    
        </div> <!-- /container -->
    </body>
</html>

@Scripts.Render("~/bundles/angular","~/bundles/netponto-app", "~/bundles/twitterbootstrap")