@{
    ViewBag.Title = "Contact";
}

 <div class="row">
        <div class="span12 home" ng-controller="HomeListCtrl">
            <div class="row-fluid">
                <div class="span4">
                    <div class="placeholder info-proce">
                        <h4>Processos</h4>
                        <div>
                            <input type="text" ng-model="search" class="search-query" placeholder="Procurar" style="width:85%; color: black;"/>
                        </div>
                        <div>              
                            <table class="table table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th width="67%">Processo</th>
                                        <th width="23%">Sigla</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="processo in processos | filter:search | orderBy:'nome'"  >
                                        <td>
                                            <a href="#!/processo/{{processo.id}}" title="{{processo.nome}}">{{processo.nome|truncate:20}}</a>
                                        </td>
                                        <td>{{processo.sigla}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <a href=""><img src="@Url.Content("~/Content/img/icons/star.png")" /> Ver favoritos </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="">Ver mapa geral de processos [+]</a>
                        </div>
                    </div>
                </div>
                <div class="span8" ng-model="processo">
                    <div class="detail-proce placeholder detail-proce" ng-view>

                    </div>
                </div>
            </div>
        </div>

        <!-- CACHED: detail.html --> 
        <script type="text/ng-template" id="detail.html">
            <div  ng-show="processo">
                <h4>{{processo.nome}}</h4>
                <div>
                    <h6>Objectivo</h6>
                    <p ng-bind-html-unsafe="processo.desc|newline"></p>
                </div>
                <div><p><b class="blue">Responsável:</b> {{processo.resp}}</p></div>
                <div><p><b class="blue">Última alteração:</b> {{processo.dtalt | truncate:10:""}}</p></div>
                <div class="pull-right">
                    <a href="/processo/{{processo.id}}/atividades" class="btn">Ver +</a>
                </div>
            </div>
        </script>

    </div>